* {
  box-sizing: border-box;
  padding: 0;
  margin: 0 !important;
}

input {
  font-size: 30px;
  display: block;
  width: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 60px;
}

#nav-items {
  display: flex;
  list-style-type: none;
}

#view {
  color: black;
  font-weight: bold;
  margin-left: 30px;
  margin-top: 4px;
  margin-bottom: 4px;
  /* padding: 4px; */
  border-radius: 10%;
  border: 1px solid black;
  width: 50px;
}

.text-padding {
  padding-bottom: 3px;
  padding-top: 5px;
}


.padding-title {
  font-weight: bold;
  padding-bottom: 3px;
  padding-top: 10px;
}

#title {
  padding-top: 15px;
  padding-left: 15px;
}

.row {
  padding-top: 40px;
}

.cover-img {
  padding-top: 5px;
}

.header {
  background-color: #FCFCFC;
  color: #000;
  padding-left: 50px;
}
