* {
  box-sizing: border-box;
  padding: 0;
  margin: 0 !important;
}

input {
  font-size: 30px;
  display: block;
  width: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 60px;
}

#nav-items {
  display: flex;
  list-style-type: none;
}

#view {
  color: black;
  font-weight: bold;
  margin-left: 30px;
  margin-top: 4px;
  margin-bottom: 4px;
  /* padding: 4px; */
  border-radius: 10%;
  border: 1px solid black;
  width: 50px;
}

.text-padding {
  padding-bottom: 3px;
  padding-top: 5px;
}


.padding-title {
  font-weight: bold;
  padding-bottom: 3px;
  padding-top: 10px;
}

#title {
  padding-top: 15px;
  padding-left: 15px;
}

.row {
  padding-top: 40px;
}

.cover-img {
  padding-top: 5px;
}

.header {
  background-color: #092528;
  color: #fff;
  padding-left: 50px;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
} */

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
